<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="block-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">
  
    <%= label f, :block_hash %>
    <%= text_input f, :block_hash %>
    <%= error_tag f, :block_hash %>
  
    <%= label f, :author %>
    <%= text_input f, :author %>
    <%= error_tag f, :author %>
  
    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
